@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF9F5;
  --foreground: #1A1D20;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
